{% extends 'app/base.html' %}
{% block content %}


<div class="container">
    <div class="section">
        <div class="row settings-row">
            <div class="col s6">
                <div class="setting-box z-depth-1 center">
                    <a><i>100</i><h6>Your Target</h6></a>
                </div>
            </div>
            <div class="col s6">
                <div class="setting-box z-depth-1 center">
                    <a><i>{{ total_followUP }}</i><h6>Total Followup</h6></a>
                </div>
            </div>
        </div>
        <div class="row settings-row">
            <div class="col s6">
                <div class="setting-box z-depth-1 center">
                    <a><i>2</i><h6>Bookings</h6></a>
                </div>
            </div>
            <div class="col s6">
                <div class="setting-box z-depth-1 center">
                    <a><i>40%</i><h6>Progress Percentage</h6></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}