{% extends 'Admin/base.html' %}
{% block content %}


<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Daily Performance Report</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    
                    <li class="breadcrumb-item active">DPR</li>
                </ol>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                
                <form id="formdata" action="{% url 'DailyPerReport' %}" method="get">
                    <div class="row">
                        <div class="col-xxl-2 col-md-2">
                            <div>
                                <label for="StartDate" class="form-label">Start Date</label>
                                <input type="date" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="StartDate" name='start_date'>
                            </div>
                        </div>
                        <div class="col-xxl-2 col-md-2">
                            <div>
                                <label for="EndDate" class="form-label">End Date</label>
                                <input type="date" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="EndDate" name='end_date'>
                            </div>
                        </div>
                        {% if request.session.teamIDs %}
                        <div class="col-md-2" hidden>
                            <label class="form-label">Team</label>
                            <select class="form-control" name="team_name" id='teamSelect'>
                                <option>Select Team</option>
                                {% for team in teams %}                                    
                                <option value="{{ team.id }}">{{ team.T_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2" hidden>
                            <label  class="form-label">Member</label>
                            <select class="form-control" name="member" id='memberSelect'>
                                <option value=''>Select Member</option>
                                {% for member in members %}                                    
                                <option value="{{ member.id }}">{{ member.member_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% else %}
                        <div class="col-md-2">
                            <label class="form-label">Team</label>
                            <select class="form-control" name="team_name" id='teamSelect'>
                                <option>Select Team</option>
                                {% for team in teams %}                                    
                                <option value="{{ team.id }}">{{ team.T_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label  class="form-label">Member</label>
                            <select class="form-control" name="member" id='memberSelect'>
                                <option value=''>Select Member</option>
                                {% for member in members %}                                    
                                <option value="{{ member.id }}">{{ member.member_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% endif %}
                        
                        
                        
                    </div>           
                </form>
            </div>
            
                
           





            <div class="card-body">               
                <div class="live-preview">
                    <div class="table-responsive table-card">
                        <table class="table align-middle table-nowrap mb-0" id="DPR-table">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col" class="text-center">S.No.</th>
                                    <th scope="col" class="">NAME</th>
                                    {% comment %} <th scope="col" class="text-center">BOOKINGS</th> {% endcomment %}
                                    <th scope="col" class="text-center">NEW LEADS</th>
                                    <th scope="col" class="text-center">SM LEADS</th>
                                    <th scope="col" class="text-center">LEADS F/W</th>
                                    <th scope="col" class="text-center">MISSED F/W</th>
                                    <th scope="col" class="text-center">SM F/W</th>
                                    <th scope="col" class="text-center">HOME VISITS</th>
                                    <th scope="col" class="text-center">CORP. VISITS</th>
                                    <th scope="col" class="text-center">IP</th>
                                    <th scope="col" class="text-center">ADMISSION</th>
                                </tr>
                            </thead>
                            <style>
                                #DPR-table-body td{
                                    text-align:center;
                                }
                                #custom-heading{
                                    text-align:start;
                                }
                            </style>
                            <tbody id='DPR-table-body'>
                              
                            </tbody>
                        </table>
                    </div>
                </div>                
            </div><!-- end card-body -->
        </div><!-- end card -->
    </div><!-- end col -->
</div>


<script>     

    

window.onload = function() {
    DPR('');
};
    
    
    
function displayTotalSum() {
    //console.log("=========")
    var tableBody = document.getElementById("DPR-table-body");
    var rows = tableBody.getElementsByTagName("tr");
  //  var totalBookings = 0;
    var totalNewLeads = 0;
    var totalSMLeads = 0;
    var totalLeadsFW = 0;
    var totalMissedFW = 0;
    var totalSMFW = 0;
    var totalHomeVisits = 0;
    var totalCorpVisits = 0;
    var totalIp = 0;
    var totalAdmission = 0;
    for (var i = 0; i < rows.length; i++) {
        var cells = rows[i].getElementsByTagName("td");
        if (cells.length > 1) {
          //  totalBookings += parseInt(cells[2].textContent);
            totalNewLeads += parseInt(cells[2].textContent);
            totalSMLeads += parseInt(cells[3].textContent);
            totalLeadsFW += parseInt(cells[4].textContent);
            totalMissedFW += parseInt(cells[5].textContent);
            totalSMFW += parseInt(cells[6].textContent);
            totalHomeVisits += parseInt(cells[7].textContent);
            totalCorpVisits += parseInt(cells[8].textContent);
            totalIp += parseInt(cells[9].textContent);
            totalAdmission += parseInt(cells[10].textContent);
        }
    }
    var newRow = document.createElement("tr");
    newRow.innerHTML = "<td colspan='2'>Total</td>" +
       // "<td class='text-center'>" + totalBookings + "</td>" +
        "<td class='text-center'>" + totalNewLeads + "</td>" +
        "<td class='text-center'>" + totalSMLeads + "</td>" +
        "<td class='text-center'>" + totalLeadsFW + "</td>" +
        "<td class='text-center'>" + totalMissedFW + "</td>" +
        "<td class='text-center'>" + totalSMFW + "</td>" +
        "<td class='text-center'>" + totalHomeVisits + "</td>" +
        "<td class='text-center'>" + totalCorpVisits + "</td>" +
        "<td class='text-center'>" + totalIp + "</td>" +
        "<td class='text-center'>" + totalAdmission + "</td>";
        tableBody.insertBefore(newRow, tableBody.firstChild);
}

    

function daysInMonth(month, year) {
    return new Date(year, month, 0).getDate();
}


function Table(mainData) {
    mainData.forEach(function (lead, index) {
        var rowIndex = index;
        var tableBody = document.getElementById("DPR-table-body");
        var row = tableBody.rows[rowIndex];

        if (!row) {
            row = tableBody.insertRow(rowIndex);
            for (var i = 0; i < 11; i++) {
                row.insertCell(i);
            }
            row.cells[0].textContent = rowIndex + 1;
        }

        var cells = row.cells;
   //     var booked_target; 
        var FW_target; 
        var SM_FW_target; 
        var home_visit_target; 
        var Corp_visit_target; 
        var IP_target; 
        var Admission_target; 
        var targetArray = lead.target;
        var targetEnd = lead.target_values_end;
        var date = new Date();
        var currentDay = date.getDate();
        var startDate = document.getElementById("StartDate").value;
        var endDate = document.getElementById("EndDate").value;
        


        if (startDate && endDate){ 
            var start = new Date(startDate);
            var end = new Date(endDate);

            var same_month = false;

            if (start.getMonth() == end.getMonth()){
                var timeDifference = end - start; 
                var days = timeDifference / (1000 * 3600 * 24); 
                var daysDifference = days;
                if (daysDifference>25){
                    daysDifference = 25;
                }
                same_month = true;
            }
            else {
                var start_month = start.getMonth() + 1;
                var start_year = start.getFullYear();
                var end_month = start.getMonth();
                var end_year = start.getFullYear();
                var days_start_month = daysInMonth(start_month, start_year) - start.getDate();
                var days_start_month = days_start_month ;
                var daysDifference = end.getDate();
                if (days_start_month>25){
                    days_start_month = 25;
                }
                if (daysDifference>25){
                    daysDifference = 25;
                }               
            }

            targetArray.forEach(function(item, index) {

                var target_id = item.Target_id;
                if (start.getMonth() == end.getMonth()){
                    var target = item.target;
                }
                else {
                    var target = item.target;
                    var target_end = targetEnd[index].target;
                }
              
               
                var percentage;
             //   console.log(target)
                if (target_id == 2) {
                    current_corp_visit_target = (target/25)*daysDifference;
                    if (!same_month){
                        end_corp_visit_target = (target_end/25)*days_start_month;
                        current_corp_visit_target = end_corp_visit_target + current_corp_visit_target;
                     
                    }

                    

                    percentage = (lead.corpo_visit / current_corp_visit_target) * 100;
                    Corp_visit_target = Math.round(current_corp_visit_target);

                    if (percentage < 40) {
                        cells[8].style.backgroundColor='red';
                        cells[8].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                        // cells[9].style.backgroundColor = 'yellow';
                        cells[8].classList.add('bg-danger');
                        cells[8].style.color = 'white'; 
                     } else if (percentage >= 60 && percentage < 80) {
                       // cells[9].style.backgroundColor = 'yellow';
                        cells[8].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
                      //  cells[9].style.backgroundColor = 'green';
                        cells[8].classList.add('bg-success');
                        cells[8].style.color = 'white'; 
                    }
                } else if (target_id == 3) {
                    
                    current_FW_target = (target/25)*daysDifference;
                    if (!same_month){
                        end_FW_target = (target_end/25)*days_start_month;
                        current_FW_target = end_FW_target + current_FW_target;                     
                    }
                    FW_target =  Math.round(current_FW_target);
             
                    percentage = (lead.lead_FW / current_FW_target) * 100;
                    if (percentage < 40) {
                        cells[4].style.backgroundColor='red';
                        cells[4].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                      
                        cells[4].classList.add('bg-danger');
                        cells[4].style.color = 'white'; 

                     } else if (percentage >= 60 && percentage < 80) {
                     
                        cells[4].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
                     
                        cells[4].classList.add('bg-success');
                        cells[4].style.color = 'white'; 
                    }
                } else if (target_id == 4) {

                    current_home_visit_target = (target/25)*daysDifference;
                    if (!same_month){
                        end_FW_target = (target_end/25)*days_start_month;
                        current_home_visit_target = end_FW_target + current_home_visit_target;                     
                    }
                    home_visit_target = Math.round(current_home_visit_target);
                    percentage = (lead.home_visit / current_home_visit_target) * 100;
       
                    if (percentage < 40) {
                        cells[7].style.backgroundColor='red';
                        cells[7].style.color = 'white'; 
                    } 
                    else if(percentage >= 40 && percentage < 60) {
                     
                        cells[7].classList.add('bg-danger');
                        cells[7].style.color = 'white'; 
                    }        
                    else if(percentage >= 60 && percentage < 80) {
                     
                        cells[7].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
          
                        cells[7].classList.add('bg-success');
                        cells[7].style.color = 'white'; 
                    }
                } else if (target_id == 5) {
                    current_sm_fw_target = (target/25)*daysDifference;
                    if (!same_month){
                        end_sm_fw_target = (target_end/25)*days_start_month;
                        current_sm_fw_target = end_sm_fw_target + current_sm_fw_target;                     
                    }
                    SM_FW_target =  Math.round(current_sm_fw_target);
                    percentage = (lead.sm_followup / current_sm_fw_target) * 100;
                    if (percentage < 40) {
                        cells[6].style.backgroundColor='red';
                        cells[6].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                
                        cells[6].classList.add('bg-danger');
                        cells[6].style.color = 'white'; 
                     }  else if (percentage >= 60 && percentage < 80) {
               
                        cells[6].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
               
                        cells[6].classList.add('bg-success');
                        cells[6].style.color = 'white'; 
                    }
                }          
                else if (target_id == 7) {
                    current_Admission_target = target;
                    Admission_target =   Math.round(current_Admission_target);                    
                    percentage = (lead.total_admission / current_Admission_target) * 100;
                    if (percentage < 40) {
                        cells[10].style.backgroundColor='red';
                        cells[10].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
           
                        cells[10].classList.add('bg-danger');
                        cells[10].style.color = 'white'; 
                     }  else if (percentage >= 60 && percentage < 80) {
                 
                        cells[10].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
        
                        cells[10].classList.add('bg-success');
                        cells[10].style.color = 'white'; 
                    }
                }           
                 else if (target_id == 8) {
                    current_IP_target = target;
                    IP_target =   Math.round(current_IP_target);                  
                    percentage = (lead.total_ip / current_IP_target) * 100;
                    if (percentage < 40) {
                        cells[9].style.backgroundColor='red';
                        cells[9].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
    
                        cells[9].classList.add('bg-danger');
                        cells[9].style.color = 'white'; 
                     } else if (percentage >= 60 && percentage < 80) {
                  
                        cells[9].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
                   
                        cells[9].classList.add('bg-success');
                        cells[9].style.color = 'white'; 
                    }
                }     
            });
        }else{
           // console.log('==============', targetArray)
            targetArray.forEach(function(item) {
                var target_id = item.Target_id;
                var target = item.target;
                var percentage;
         
                if (target_id == 2) {
                 //   console.log('=========', target_id)
                    percentage = (lead.corpo_visit / target) * 100;
                    Corp_visit_target = target;
                    if (percentage < 40) {
                        cells[8].style.backgroundColor='red';
                        cells[8].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                        // cells[9].style.backgroundColor = 'yellow';
                        cells[8].classList.add('bg-danger');
                        cells[8].style.color = 'white'; 
                     }           
                    
                    else if (percentage >= 60 && percentage < 80) {
                       // cells[9].style.backgroundColor = 'yellow';
                        cells[8].classList.add('bg-warning');
                    }  else if (percentage > 80) {
                        cells[8].classList.add('bg-success');
                        cells[8].style.color = 'white'; 
                    }
                } else if (target_id == 3) {
                    FW_target = target;
                    percentage = (lead.lead_FW / target) * 100;
                    if (percentage < 40) {
                        cells[4].style.backgroundColor='red';
                        cells[4].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                        // cells[9].style.backgroundColor = 'yellow';
                        cells[4].classList.add('bg-danger');
                        cells[4].style.color = 'white'; 
                     } else if (percentage >= 60 && percentage < 80) {
                      //  cells[5].style.backgroundColor = 'yellow';
                        cells[4].classList.add('bg-warning');
                        
                    }  else if (percentage >= 80) {
                      //  cells[5].style.backgroundColor = 'green';
                        cells[4].classList.add('bg-success');
                        cells[4].style.color = 'white'; 
                    }
                } else if (target_id == 4) {
                    home_visit_target = target;
                    percentage = (lead.home_visit / target) * 100;
                    if (percentage < 40) {
                        cells[7].style.backgroundColor='red';
                        cells[7].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                        // cells[9].style.backgroundColor = 'yellow';
                        cells[7].classList.add('bg-danger');
                        cells[7].style.color = 'white'; 
                     } else if (percentage >= 60 && percentage < 80) {
                        //cells[8].style.backgroundColor = 'yellow';
                        cells[7].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
                       // cells[8].style.backgroundColor = 'green';
                        cells[7].classList.add('bg-success');
                        cells[7].style.color = 'white'; 
                    }
                } else if (target_id == 5) {
                    SM_FW_target = target;
                    percentage = (lead.sm_followup / target) * 100;
                    if (percentage < 40) {
                        cells[6].style.backgroundColor='red';
                        cells[6].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                        // cells[9].style.backgroundColor = 'yellow';
                        cells[6].classList.add('bg-danger');
                        cells[6].style.color = 'white'; 
                     }  else if (percentage >= 60 && percentage < 80) {
                       // cells[7].style.backgroundColor = 'yellow';
                        cells[6].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
                      //  cells[7].style.backgroundColor = 'green';
                        cells[6].classList.add('bg-success');
                        cells[6].style.color = 'white'; 
                    }
                }           
                 else if (target_id == 8) {
                    IP_target = target;
                    percentage = (lead.total_ip / target) * 100;
                    if (percentage < 40) {
                        cells[9].style.backgroundColor='red';
                        cells[9].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                        // cells[9].style.backgroundColor = 'yellow';
                        cells[9].classList.add('bg-danger');
                        cells[9].style.color = 'white'; 
                     }  else if (percentage >= 60 && percentage < 80) {
                       // cells[7].style.backgroundColor = 'yellow';
                        cells[9].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
                      //  cells[7].style.backgroundColor = 'green';
                        cells[9].classList.add('bg-success');
                        cells[9].style.color = 'white'; 
                    }
                }           
                 else if (target_id == 7) {
                    Admission_target = target;
                    percentage = (lead.total_admission / target) * 100;
                   
                    if (percentage < 40) {
                        cells[10].style.backgroundColor='red';
                        cells[10].style.color = 'white'; 
                    }        
                    else if(percentage >= 40 && percentage < 60) {
                        // cells[9].style.backgroundColor = 'yellow';
                        cells[10].classList.add('bg-danger');
                        cells[10].style.color = 'white'; 
                     } else if (percentage >= 60 && percentage < 80) {
                       // cells[7].style.backgroundColor = 'yellow';
                        cells[10].classList.add('bg-warning');
                    }  else if (percentage >= 80) {
                      //  cells[7].style.backgroundColor = 'green';
                        cells[10].classList.add('bg-success');
                        cells[10].style.color = 'white'; 
                    }
                }           
            });
        }
        
      
      
        cells[1].innerHTML = lead.HandledByEmployee ? "<a class='fw-medium'>" + lead.HandledByEmployee + "</a>" : "No employee data available";
    
        cells[2].textContent = lead.new_leads;
        cells[3].textContent = lead.leadsSageMitra;
        cells[4].textContent = `${lead.lead_FW}/${FW_target || '0'}`;

        cells[5].textContent = lead.missed_followUp;
        cells[6].textContent = `${lead.sm_followup}/${SM_FW_target || '0'}`;
        cells[7].textContent = `${lead.home_visit}/${home_visit_target || '0'}`;
        cells[8].textContent = `${lead.corpo_visit}/${Corp_visit_target || '0'}`;
        cells[9].textContent = `${lead.total_ip}/${IP_target || '0'}`;
        cells[10].textContent = `${lead.total_admission}/${Admission_target || '0'}`;
    });
}

        
   
    
function clearDRPTable() {
        var tableBody = document.getElementById("DPR-table-body");
        tableBody.innerHTML = "";         
}
    


function updateMemberDropdown(members) {
        var memberSelect = document.getElementById("memberSelect");
        memberSelect.innerHTML = "<option value=''>Select Member</option>";
    //   console.log(members)
        members.forEach(function(member) {
            var option = document.createElement("option");
            option.value = member[0];
            option.textContent = member[0];
            memberSelect.appendChild(option);
        });
}
    
    
document.getElementById("memberSelect").addEventListener("change", function(event){
    var memberName = event.target.options[event.target.selectedIndex].text;
    var startDate = document.getElementById("StartDate").value;
    var endDate = document.getElementById("EndDate").value;
    var selectedTeamId = document.getElementById('teamSelect').value;
    if (!startDate && !endDate) {
         if (memberName !== 'Select Member' && selectedTeamId !== 'Select Team' ) {                
            clearDRPTable();                 
            var queryString = "?member=" + memberName + '&team=' + selectedTeamId ;
        //    console.log('================', queryString)
            DPR(queryString);
             }                  
            else if (memberName !== 'Select Member') {                
            clearDRPTable();                 
            var queryString = "?member=" + memberName ;
            //console.log('================', queryString)
            DPR(queryString);
            }       
        else {
            location.reload();
        }
    }
    else if(startDate && endDate && memberName !== 'Select Member' && selectedTeamId !== 'Select Team' ){
        var queryString = '?start_date=' + startDate + '&end_date=' + endDate + '&member=' + memberName + '&team=' + selectedTeamId  ;
        clearDRPTable();
        //console.log('================', queryString)
        DPR(queryString);
    }
    else {
       if (startDate && endDate && memberName !== 'Select Member' ) {
            var queryString = '?start_date=' + startDate + '&end_date=' + endDate + '&member=' + memberName  ;
            clearDRPTable();
    //        console.log('================', queryString)
            DPR(queryString);

        }
        else  {
            location.reload();
        }
    }
});
document.getElementById("StartDate").addEventListener("change", function(event){
    date();
});
document.getElementById("EndDate").addEventListener("change", function(event){
    date();
});




function date(){
    var startDate = document.getElementById("StartDate").value;
    var endDate = document.getElementById("EndDate").value;
    var selectedTeamId = document.getElementById('teamSelect').value;

    if (startDate && endDate && selectedTeamId !== 'Select Team') {
        var queryString = '?start_date=' + startDate + '&end_date=' + endDate + '&team=' + selectedTeamId  ;
        clearDRPTable();
      // console.log('================', queryString)
        DPR(queryString);
    }
    else if (startDate && endDate) {
        var queryString = '?start_date=' + startDate + '&end_date=' + endDate;
        clearDRPTable();
      //  console.log('================', queryString)
        DPR(queryString);
    }        
}



document.getElementById("teamSelect").addEventListener("change", function(event){
    var memberName = document.getElementById("memberSelect").options[document.getElementById("memberSelect").selectedIndex].text;
    var startDate = document.getElementById("StartDate").value;
    var endDate = document.getElementById("EndDate").value;
    var selectedTeamId = event.target.value;
    
    if (!startDate && !endDate) {
        // console.log('====', selectedTeamId)
         if(selectedTeamId !== 'Select Team'){
            clearDRPTable();
            var queryString = '?team=' + selectedTeamId ;
            // console.log('================', queryString)
            DPR(queryString);
        }            
        else {
            location.reload();
        }
    }
    else {
        if (startDate && endDate && selectedTeamId !== 'Select Team') {
            var queryString = '?start_date=' + startDate + '&end_date=' + endDate + '&team=' + selectedTeamId  ;
            clearDRPTable();
            //console.log('================', queryString)
            DPR(queryString);
        }
        else {
            location.reload();
        }
    }
});




function DPR(queryString) {         
    var xhr = new XMLHttpRequest();
    
    loader();
  //  console.log(queryString)
    xhr.open("GET", "{% url 'DPR' %}" + queryString, true);
    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    xhr.onreadystatechange = function () {
        loaderClose();
        if (xhr.readyState === 4 && xhr.status === 200) {
            var responseData = JSON.parse(xhr.responseText);
            var mainData = responseData.DPRData;     
            var members = responseData.members;
            var tableBody = document.getElementById("DPR-table-body");    
            updateMemberDropdown(members)
           // console.log(mainData)
            clearDRPTable();
            Table(mainData);
            //color(mainData);
            displayTotalSum();
        }
        
    };
    xhr.send();
}
    
document.getElementById("DPR-table-body").addEventListener("click", function(event) {
    var target = event.target;
    if (target.tagName === "A" && target.classList.contains("fw-medium")) {
        var name = target.textContent.trim();
        var startDate = document.getElementById("StartDate").value;
        var endDate = document.getElementById("EndDate").value;

        var host = window.location.hostname;
        var relativeUrl = "/admin/employee/" + encodeURIComponent(name);
        if (startDate || endDate) {
            relativeUrl += "?";
            if (startDate) {
                relativeUrl += "start_date=" + startDate;
            }
            if (endDate) {
                if (startDate) {
                    relativeUrl += "&";
                }
                relativeUrl += "end_date=" + endDate;
            }
        }
        var url = "http://" + host + ':8000' + relativeUrl;
        window.location.href = url;
    }
});
    
</script>
{% endblock %}
